<div class="app">
  <div class="app-section">
    <div class="game-cells" *ngFor="let row of gameArr; let i = index">
      <app-cell
      *ngFor="let item of row; let j = index"
      [cell-row]="i"
      [cell-column]="j"
      [current-item]="currentItem"
      (onUpdateCellItem)="getUpdatedItem($event)"
      [cell-class]="item.class"
      >{{item.value}}</app-cell>
    </div>
  </div>
</div>
<div class="app">
  <button type="button" class="app-btn" (click)="restartGame()">Restart Game</button>
</div>
