.each-cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #030300;
  cursor: pointer;
}

.matched {
  background-color: rgb(223, 159, 159);
}

h3 {
  font-size: 60px;
  font-weight: 600;
}

.strike-horizontal {

}

.strike-vertical {

}

.strike-diagonal-left-to-right {

}

.strike-diagonal-right-to-left {

}
